<div class="container mt-5">
  <h1>Contacts</h1>
  <h2>{{user.username}}</h2>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Created At</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each result}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.contactEmail}}</td>
          <td>{{toShortDate this.date}}</td>
          <td>

            <a href="/message/{{this.name}}" class="btn btn-primary">Message</a>
            <a
              href="/contacts/edit/{{this.name}}"
              class="btn btn-primary"
            >Edit</a>
            <a
              href="/contacts/delete/{{this.name}}"
              class="btn btn-danger"
              onclick="return confirmDeletionPopUp({{this.name}});"
            >Delete</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>